<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Scotch Price - ML APP</title>
  <form action="{{ url_for('predict')}}" method="post"></form>
  <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- We need this line below for responsiveness! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">



</head>

<body>


  <div class="container my-6">


    <div class="jumbotron">
      <h2 class="display-6">Is Your Scotch Expensive?</h2>
      <p class="lead">Describe a scotch below and the robot will tell you if it would be expensive or not. </p>
      <hr class="my-4">
      <p>For more information contact Ryan Ashton and Sisi Florensia.</p>
      <a class="btn btn-dark btn-sm" href="#" role="button">Contact</a>
    </div>



    <!-- code a "How it works" section -->

    <div class="hero-image">
      <div class="hero-text">
        <h1>ScotchBOT</h1>
        <p>Hello, World. I am ScotchBot.</p>

      </div>
    </div>

    <div class="jumbotron">
      <form name="calculate" action="{{ url_for('predict')}}" method="POST">
        <h4><strong>Describe your scotch</strong></h4>
        <hr class="my-4">
        <div class="input-container">
          <textarea name="message" type="text"
            placeholder="Eg. Aged in a European oak oloroso sherry hogshead. Orange marmalade and lanolin on the nose, with caramel and candle wax dripped onto old leather. Full-bodied, with slightly bitter orange notes, plus nutmeg and aniseed on the palate. The orange theme persists into the finish as dried-out Jaffa segments, plus edgy oak tannins. A highly individualistic Balvenie." rows="5"></textarea>
        </div>
        <br>
        <div>
          <button type="submit" class="btn btn-secondary btn-lg btn-block" value="predict"
            id="calculate">Calculate</button>
        </div>
      </form>
      <br>
      <div>
        <h6><i>Result will appear below (after you press calculate)</i></h6>
      </div>
    </div>

    <!-- Display Results -->
    <div class="jumbotron">
      <div class="results" id="result">
        {% if prediction == 1%}
        <h4 style="color:rgb(2, 76, 53);text-align:justify;">This would likely be an expensive scotch!</h4>
        {% elif prediction == 0%}
        <h4 style="color:rgb(230, 9, 9);text-align:justify;">There is either not enough information or not the right
          charactertics described to suggest this would be an expensive scotch... </h4>
        {% endif %}
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/form.js') }}"></script>

</body>

</html>